:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --white: #FFFFFF;
  --black-color: #000000;
  --secondary-background-color: #F5F5F5;
  --third-background-color: #2F303A;
  --accent-color: #2196F3;
  --icon-color: #AFB1B8;
  --animation-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--white);
  color: var(--title-text-color);
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--third-background-color);
  color: var(--white);
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(47, 48, 58);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
}

.hero-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  margin: auto;
  font-family: inherit;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  -webkit-transition: background-color 250ms var(--animation-cubic);
  transition: background-color 250ms var(--animation-cubic);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188CE8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition-property: opacity visibility;
  transition-property: opacity visibility;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--animation-cubic);
          transition-timing-function: var(--animation-cubic);
  z-index: 3;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--animation-cubic);
          transition-timing-function: var(--animation-cubic);
  min-width: 528px;
  min-height: 581px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.close-modal {
  -webkit-transition: fill 250ms var(--animation-cubic);
  transition: fill 250ms var(--animation-cubic);
}

.modal-btn:hover .close-modal,
.modal-btn:focus .close-modal {
  fill: var(--accent-color);
}

.modal-form {
  width: 528px;
  height: 581px;
  margin: 0;
  padding: 40px;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-field {
  position: relative;
  margin-bottom: 10px;
  height: 58px;
  color: var(--title-text-color);
}

.area {
  margin-bottom: 20px;
  height: 138px;
}

.form-field input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--title-text-color);
  -webkit-transition: border-color 250ms var(--animation-cubic);
  transition: border-color 250ms var(--animation-cubic);
}

.icon-form {
  position: absolute;
  left: 12px;
  top: 29px;
  fill: currentColor;
  -webkit-transition: fill 250ms var(--animation-cubic);
  transition: fill 250ms var(--animation-cubic);
}

input:focus,
textarea:focus {
  border-color: var(--accent-color);
}

input:focus + .icon-form {
  fill: var(--accent-color);
}

.form-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 12px;
  font-size: 20px;
  color: #212121;
  letter-spacing: 0.03em;
}

textarea {
  resize: none;
  margin-top: 4px;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color 250ms var(--animation-cubic);
  transition: border-color 250ms var(--animation-cubic);
}

.submit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 52px;
  padding-right: 52px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.police {
  margin-bottom: 30px;
  line-height: 1.71;
}

.user-agree {
  text-decoration: underline;
  color: #2196F3;
}

.form-label {
  color: var(--primary-text-color);
}

.agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox:checked + .checkbox-icon {
  background-color: var(--accent-color);
  border: none;
  background-size: contain;
}

.checkbox-icon {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  background: #FFFFFF;
  border: 2px solid var(--title-text-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-image: url(../images/check.svg);
  background-origin: border-box;
  background-size: 0;
  -webkit-transition: background-color 250ms var(--animation-cubic), border 250ms var(--animation-cubic);
  transition: background-color 250ms var(--animation-cubic), border 250ms var(--animation-cubic);
}

.head {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav .logo {
  margin-right: 93px;
}

.head-nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav .portfolio.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav .item {
  position: relative;
}

.site-nav a {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms var(--animation-cubic);
  transition: color 250ms var(--animation-cubic);
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

.site-nav .link,
.portfolio,
.contact {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* portfolio */
.site-nav .portfolio {
  color: var(--title-text-color);
}

.site-nav .portfolio:hover,
.site-nav .portfolio:focus {
  color: var(--accent-color);
}

.site-nav .portfolio.current {
  color: var(--accent-color);
}

/* contacts */
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding: 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts .item:not(:last-child) {
  margin-right: 30px;
}

.contacts .mail {
  color: var(--primary-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms var(--animation-cubic);
  transition: color 250ms var(--animation-cubic);
}

.contacts .mail-icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  -webkit-transition: fill 250ms var(--animation-cubic);
  transition: fill 250ms var(--animation-cubic);
}

.contacts .mail:hover .mail-icon,
.contacts .mail:focus .mail-icon {
  fill: var(--accent-color);
}

.contacts .mail:hover,
.contacts .mail:focus {
  color: var(--accent-color);
}

.contacts .tel {
  color: var(--primary-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms var(--animation-cubic);
  transition: color 250ms var(--animation-cubic);
}

.contacts .tel-icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  -webkit-transition: fill 250ms var(--animation-cubic);
  transition: fill 250ms var(--animation-cubic);
}

.contacts .tel:hover .tel-icon,
.contacts .tel:focus .tel-icon {
  fill: var(--accent-color);
}

.contacts .tel:hover,
.contacts .tel:focus {
  color: var(--accent-color);
}

.logo {
  color: var(--black-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.web {
  color: var(--accent-color);
}

.special {
  padding-top: 94px;
  padding-bottom: 94px;
}

.special-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.special-list .item {
  -ms-flex-preferred-size: 270px;
      flex-basis: 270px;
}

.special-icons {
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f4fa;
}

.special-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
}

.special-text {
  margin: 0;
  color: var(--primary-text-color);
  font-weight: 400;
  line-height: 1.71;
}

.work {
  padding-bottom: 94px;
}

.work-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.work-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-list .item img {
  margin: 0;
}

.work-list .item:not(:last-child) {
  margin-right: 30px;
}

.work-list .item {
  position: relative;
  height: 294px;
}

.work-text {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding-top: 27px;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #F5F4FA;
  padding: 94px 0;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.team-list .item {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .item-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.team-title {
  margin-top: 0;
  margin-bottom: 50px;
  background-color: #F5F4FA;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-position {
  margin: 0;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team .team-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.team-list .social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.team-list .social-link {
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-text-color);
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--animation-cubic);
          transition-timing-function: var(--animation-cubic);
}

.team-list .social-link:hover,
.team-list .social-link:focus {
  background-color: var(--accent-color);
  color: var(--white);
}

.team-list .social-link:hover .team-icon,
.team-list .social-link:focus .team-icon {
  fill: var(--white);
}

.team-list .team-icon {
  fill: currentColor;
}

.team-list .social-item:last-child {
  margin-right: 0;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.clients-list .icon-list {
  margin-right: 30px;
  width: 170px;
  height: 92px;
}

.clients-list .list:last-child {
  margin-right: 0;
}

.clients-list .clients-link:hover,
.clients-list .clients-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients-icon {
  fill: currentColor;
}

.clients-link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: var(--icon-color);
  -webkit-transition: border-color 250ms var(--animation-cubic), color 250ms var(--animation-cubic);
  transition: border-color 250ms var(--animation-cubic), color 250ms var(--animation-cubic);
}

.adress {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
  font-weight: 400;
  line-height: 1.71;
}

.adress .logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white);
}

.adress-list {
  padding: 0;
  margin: 0;
}

.adress-list .item:not(:last-child) {
  margin-bottom: 9px;
}

.maps {
  font-style: normal;
  color: var(--white);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--animation-cubic);
          transition-timing-function: var(--animation-cubic);
}

.maps:hover,
.maps:focus {
  color: var(--accent-color);
}

.link {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--animation-cubic);
          transition-timing-function: var(--animation-cubic);
}

.adress .first {
  margin-right: 70px;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.adress .social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.adress .social-item:last-child {
  margin-right: 0;
}

.adress-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 14px;
  line-height: 1.14;
  color: var(--white);
}

.adress .adress-icon {
  fill: var(--white);
}

.adress .social-link:hover,
.adress .social-link:focus {
  background-color: var(--accent-color);
}

.adress .social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--animation-cubic);
          transition-timing-function: var(--animation-cubic);
}

.second {
  width: 206px;
  height: 80px;
}

.third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 93px;
}

.subscribe-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-text {
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.third input {
  margin-right: 12px;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  background: #2F303A;
  color: var(--white);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color 250ms var(--animation-cubic);
  transition: border-color 250ms var(--animation-cubic);
}

.third input:focus {
  border-color: var(--accent-color);
}

.subscribe-icons {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.subscribe-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 200px;
  height: 50px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.project {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  margin-bottom: 56px;
  padding: 0;
}

.filter .item:not(:last-child) {
  margin-right: 8px;
}

.filter .filter-button:hover,
.filter .filter-button:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-title {
  margin: 0;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-exsample {
  margin: 0;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.examples .item {
  margin-right: 30px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.examples .exam-link {
  -webkit-transition: -webkit-box-shadow 250ms var(--animation-cubic);
  transition: -webkit-box-shadow 250ms var(--animation-cubic);
  transition: box-shadow 250ms var(--animation-cubic);
  transition: box-shadow 250ms var(--animation-cubic), -webkit-box-shadow 250ms var(--animation-cubic);
}

.examples .exam-link:hover,
.examples .exam-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples .item-text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.examples img {
  display: block;
}

.examples .item:nth-child(3n) {
  margin-right: 0;
}

.examples .item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.exam-img {
  position: relative;
  overflow: hidden;
}

.exam-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: -webkit-transform 250ms var(--animation-cubic);
  transition: -webkit-transform 250ms var(--animation-cubic);
  transition: transform 250ms var(--animation-cubic);
  transition: transform 250ms var(--animation-cubic), -webkit-transform 250ms var(--animation-cubic);
}

.exam-link:hover .exam-overlay,
.exam-link:focus .exam-overlay {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.overlay-text {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  color: #FFFFFF;
}

.filter-button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  background-color: #F5F4FA;
  color: var(--title-text-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background-color 250ms var(--animation-cubic), color 250ms var(--animation-cubic), -webkit-box-shadow 250ms var(--animation-cubic);
  transition: background-color 250ms var(--animation-cubic), color 250ms var(--animation-cubic), -webkit-box-shadow 250ms var(--animation-cubic);
  transition: background-color 250ms var(--animation-cubic), box-shadow 250ms var(--animation-cubic), color 250ms var(--animation-cubic);
  transition: background-color 250ms var(--animation-cubic), box-shadow 250ms var(--animation-cubic), color 250ms var(--animation-cubic), -webkit-box-shadow 250ms var(--animation-cubic);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--white);
}/*# sourceMappingURL=main.css.map */