.header {

    border-bottom: 1px solid #ececec;
}
.main-nav {
    display: flex;
    align-items: center;
}
.header-nav__logo {
    margin-right: 93px;
}

.header-nav {
    display: inline-flex;
    align-items: center;
}

.site-nav {
    display: flex;
}

.site-nav__item:not(:last-child) {
    margin-right: 50px;
}

.site-nav__link--current::after {
    content: '';
    position: absolute;

    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;

}


.site-nav__item {
    position: relative;
}

.site-nav__link {
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms var(--animation-cubic);
}

.site-nav__link:hover,
.site-nav__link:focus {
    color: var(--accent-color);
}

.site-nav__link{
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}


.site-nav__link--current {
    color: var(--accent-color);
}





.contacts {
    display: flex;
    margin-left: auto;
    padding: 0;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;


}

.contacts__item:not(:last-child) {
    margin-right: 30px;
}

.contacts__mail {
    color: var(--primary-text-color);
    display: flex;
    align-items: center;

    transition: color 250ms var(--animation-cubic);
}


.mail__icon{
    margin-right: 10px;

    fill: var(--primary-text-color);

    transition: fill 250ms var(--animation-cubic);
}

.contacts__mail:hover .mail__icon,
.contacts__mail:focus .mail__icon {
    fill: var(--accent-color);
}

.contacts__mail:hover,
.contacts__mail:focus {
    color: var(--accent-color);
}

.contacts__tel {
    color: var(--primary-text-color);
    display: flex;
    align-items: center;

    transition: color 250ms var(--animation-cubic);
}

.tel__icon {
    margin-right: 10px;

    fill: var(--primary-text-color);

    transition: fill 250ms var(--animation-cubic);
}

.contacts__tel:hover .tel__icon,
.contacts__tel:focus .tel__icon {
    fill: var(--accent-color);
}

.contacts__tel:hover,
.contacts__tel:focus {
    color: var(--accent-color);
}